language: ruby
script: bundle exec rake spec
rvm:
  - 1.9.3
  - 1.9.2
  - 1.8.7
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode
  - jruby-head
  - ree
branches:
  only:
    - master
    - develop
